
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Indie+Flower&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Sedan+SC&display=swap');


.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 

 
.assistant-imported {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 

  .indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
 
  .caveat-brush-regular {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
 
 

 
body {
    color: #352D39;
    background-color: #FFFCF9;
    text-align: left;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 

h1, h2 {
    color: red;
}
h1 {
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
   
 
}
h2 {
    font-size: 32px;
    margin: 40px 0px 0px 0px;  
}

h4 {
color: white;  
text-align: center;
background-color: #28286d;
font-size: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-family: "Indie Flower", cursive;
}
 
h5 {
    font-weight: bold;
    font-family: "Indie Flower", cursive;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
 
.new-w3-attribute {
    background-color: #28286d;
    color: white;
    border-radius: 20px;
}
 
.link-attribute {
    font-family: "Indie Flower", cursive;
}
 
 

a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: white;  
}
a:active {
    color: green;
}
a:visited {
    color: white;
}

div#navbar {
    color: #FFFCF9;
    background-color: #1c1b64;
    margin: 0px;
    width: 100%;
    padding: 20px 20px;
    position: fixed;
    top: 0px;
    left:0px;
    box-shadow: 10px 10px 10px black;
}
 

div#castello {

  width: 100%;
  margin: 70px 0px 0px 0px;
  background-color: bisque;
  background-image: url(images/castello.jpg );
  background-size: cover;  
  background-position: center;
  background-repeat:no-repeat;  
}
h2.dcastello {
    color: white;
 
    font-size: 110px;
    padding: 0px 0px 350px 30px;
    font-family: "Caveat Brush" ;
}
 
div#contenuto {
 
    font-family: "Indie Flower", cursive;
    font-family: "Assistant", sans-serif;
}
 

div#congenerale {

    max-width: 800px;
    margin: 40px auto 0px;
}
 
div#wdcompany, div#contenuto, div#lastmess {
    padding: 25px;
}
 
div#cartoon {
    color: grey;
    font-family: Verdana, sans-serif;
    font-size: medium;
 
}
h2.dcartoon {
    color: orange;
    font-size: 72px;
    margin: 30px 0px 0px 0px;
}
img.immagine-w2 {
    width: 100%;
    min-width: 250px;
    border-radius: 20px;
    float: none;
    margin-right: 25px;
    margin-bottom: 15px;
}
 
.change-w3-title {
    font-family: "Indie Flower", cursive;
    color: white;    
    background-color: #28286d;
}
 
 
img.immagine-w {
    width: 50%;
    min-width: 250px;
    border-radius: 20px;
    float: left;
    margin-right: 25px;
}
 
img.immagine-w:hover {
    width: 100%;
    border-radius: 20px;
    float: none;
    margin-left: 0px;
 
}
 
 
div#wdcompany {
    background-color: #B1EDE8;
    background-image: radial-gradient( orange ,red) ;
    background-image: conic-gradient( orange ,red) ;
    background-image: linear-gradient( to right,  blue ,red) ;
    margin: 20px 0px 20px; 
    border: 2px solid #6d435a;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 0px black;
}
img.immagine-co {
    width: 100%;
    min-width: 250px;
    border-radius: 20px;
    float: none;
    margin-right: 25px;
    margin-bottom: 15px;
}
p.dwdcompany {
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
 
}
div#wdcompany:hover {
 
    box-shadow: 20px 20px 20px black;
    color: white;
}
 
 
div#lastmess {
    color: #FFFCF9;
    background-color: #352d39 ;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 2px solid #ff6978;
    border-radius: 20px;
    text-align: center;  
    box-shadow: 10px 10px 10px black;
}
p.dlastmess {
    font-style: italic;
}
 
 
div#saluti {
    color: #FFFCF9;
    background-color: #1d1b1c;
    margin: 10px 0px;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    font-size: 15px;
 
}
 

.card-p {
    color: #9ce3ff;
    background-color: #1d1d5a;
    text-align: center;
}

.link-color:hover {
    color: hsl(180, 91%, 87%);
    color: #B1EDE8;
}

.immagine-imggraf {
    width: 800px;
    height: auto;
    border-radius: 20px;

}

.imm-graf {
    width: 50%;
    min-width: 250px;
    border-radius: 20px;
}

.normal {
    color: #bbf5f0;
}